.franklin {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #569ed2;
  margin-left: 7%;
}

.grant {
  border-bottom: 3px solid rgb(169, 169, 172);
  font-weight: 100;
  font-size: 35px;
}

.material-icons {
  font-size: 35px;
}

.jackson {
  color: rgb(169, 169, 172);
}

.hamilton {
  color: rgb(169, 169, 172);

}

li {
  list-style: none;
}
